<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="BaseBuildDirectoryPath" value="C:\blds\" />
    <add key="DaemonNameDirectoryPath" value="\Daemons" />
    <add key="WorkingGITDirectoryServer" value="C:\blds\DeliveryTool" />
    <add key="WorkingGITDirectoryLocal" value="C:\GIT\ICPkgDel" />
    <add key="AllowedUsersDaemon" value="*" />
    <add key="AllowedUsersExecutor" value="andresm, josey, gabrielap, tamara.arleo, miyukis" />
  </appSettings>
  <connectionStrings>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5.2" />
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows">
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
	<customErrors mode="Off" />
        <identity impersonate="false" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="NETExecutor.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>